:root {
    /* Mode 1 */
    /* numbers */

    --spacing-zero: 0px;
    --spacing-xs: 5px;
    --spacing-s: 15px;
    --spacing-m: 30px;
    --spacing-l: 60px;
    --spacing-xl: 120px;
   
    --viewportwidth: 100vw;

    --brand_orange: #FF5129;
    --brand_black: #000000;
    --brand_white: #FFFFFF;

}

/* REDACTION 35 */

    /* Regular */
    @font-face {
        font-family: 'Redaction 35';
        src: url('FONT/Redaction35-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
    }

    /* Bold */
    @font-face {
        font-family: 'Redaction 35';
        src: url('FONT/Redaction35-Bold.otf') format('opentype');
        font-weight: 700;
        font-style: bold;
    }

    /* Italic */
    @font-face {
        font-family: 'Redaction 35';
        src: url('FONT/Redaction35-Italic.otf') format('opentype');
        font-weight: 400;
        font-style: italic;
    }

/* NEUE MONTREAL */


    /* Light */
    @font-face {
        font-family: 'Neue Montreal';
        src: url('FONT/MONTREAL/PPNeueMontreal-Book.otf') format('opentype');
        font-weight: 200;
        font-style: normal;
    }

    /* Regular */
    @font-face {
        font-family: 'Neue Montreal';
        src: url('FONT/MONTREAL/PPNeueMontreal-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
    }

    /* Bold */
    @font-face {
        font-family: 'Neue Montreal';
        src: url('FONT/MONTREAL/PPNeueMontreal-Bold.otf') format('opentype');
        font-weight: 700;
        font-style: bold;
    }

    /* Italic */
    @font-face {
        font-family: 'Neue Montreal';
        src: url('FONT/MONTREAL/PPNeueMontreal-ThinItalic.otf') format('opentype');
        font-weight: 400;
        font-style: italic;
    }

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 0px;

    width: 100vw;
    height: auto;

    overflow-x: hidden;
  
    padding: 0px;
    margin: 0px;
    
}

.project_page {
    background-color: white;
}

.project_page > header {
    color: black;
}

.card {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out , box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    overflow: clip;
    transform: rotate(0deg);

    border-radius: 12px;
    background-color: var(--brand_orange);
    box-sizing: content-box;
    stroke-dasharray: 20px, 20px;

    margin: 0px;
    padding: 0px;
}

.card:hover {
    
    transform: scale(1.02);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

    transform: rotate(2deg);
}

.card:active {
    transform: scale(0.98) rotate(-2deg); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.1s ease, box-shadow 0.1s ease; 
}

a {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacing-m);
}



    .hero {
        z-index: -200;
        height: 100vh;
        color: white;

        margin-left: var(--spacing-l);
        margin-right: var(--spacing-l);

        justify-content: center;
        align-items: center;
    }

        .hero > :nth-child(1) {
            display: flex;
            height: fit-content;
            width: 100%;
            grid-column: span 6;

            align-self: center;
        }

    .project_page > .hero {

        height: 100vh;
        color: black;

        margin-left: var(--spacing-l);
        margin-right: var(--spacing-l);

        justify-content: center;
        align-items: center;

    }

        .project_page > .hero > div {
            display: flex;
            height: fit-content;
            flex-direction: column;
            row-gap: var(--spacing-xs);
            grid-column: 3/7;
        }

        .project_page > .hero > div > :nth-child(2) {
            width: 90%;
        }

    .full_image {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 0;

    }

        .full_image > img {
            width: 100%;
            height: auto;
            object-fit: cover
        }


    .bio {        
        gap: var(--spacing-m, 30px);

        margin-left: var(--spacing-l);
        margin-right: var(--spacing-l);

        color: white;
        align-items: center;
        display: grid;

        padding-top: var(--spacing-m);
        padding-bottom: var(--spacing-m);
    }

        .bio > :nth-child(1) {
            grid-column: span 3;
            width: 100%;
        }

        .bio > :nth-child(2) {
            grid-column: span 3;
            width: 100%;
        }

        

    .bigtext {
        display: flex;
        
        height: auto;

        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-l);
        padding-left: var(--spacing-l);
        padding-right: var(--spacing-l);

        margin-bottom: -1px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

        background-color: var(--brand_orange);
    }

        .bigtext > svg {
            width: 100%;
            height: 100%;
            display: block;
        }

    .anchors {
        gap: var(--spacing-m, 30px);

        padding-left: var(--spacing-l);
        padding-right: var(--spacing-l);

        color: white;
        align-items: center;
        display: grid;

        padding-top: var(--spacing-m);
        padding-bottom: var(--spacing-m);
    }
        .anchors > :nth-child(1) {
            grid-column: span 1;
        }

        .anchors > :nth-child(2) {
            grid-column: span 1;
        }

        .anchors > :nth-child(3) {
            grid-column: span 1;
        }

        .anchors > :nth-child(4) {
            grid-column: span 3;
        }

            .project_page > .anchors {
                padding-top: var(--spacing-l);
                align-items:flex-start;
                color: black;
            }

            .project_page > .anchors > :nth-child(4) {
                grid-column: span 1;
            }

            .project_page > .anchors > a > p1{
                font-weight: 200;
            }


        .gallery_container {
            background-color: white;

            padding-top: var(--spacing-xl);
            padding-right: var(--spacing-l);
            padding-left: var(--spacing-l);
            padding-bottom: var(--spacing-l);

            grid-template-columns: repeat(6, 1fr);
        
        }

        .gallery_container > .description {
            grid-column: span 4;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-xs);
        }

        .gallery_container > .description >p2 {
            width: 70%;
        }

            .gallery {
                grid-column: span 6;
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--spacing-m);
                row-gap: var(--spacing-m);
                
                align-items: center;
                justify-content: center;

            }

            .gallery > .full_width {
                width: 100%;
                height: auto;
                object-fit: cover;
                align-items: center;
            }

            .gallery > .half_width {
                width: 45%;
                height: auto;
                object-fit: cover;
            }

            .gallery > iframe {
                width: 100%;
                height: auto;

                display: flex;
                flex-direction: column;

                row-gap: var(--spacing-xs);
            }


            .gallery > div > p1 {
                width: 80%;
            }



    /* Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 480px) {

        body {
            display: flex;
            flex-direction: column;
            row-gap: 0px;
        
            width: 100vw;
            height: auto;
        
            overflow-x: hidden;
          
            padding: 0px;
            margin: 0px;
            
        }

        .anchors {
            padding-left: var(--spacing-m);
            padding-right: var(--spacing-m);
        }

            .anchors > :nth-child(1) {
                grid-column: span 1;
                display: none;
            }

            .anchors > :nth-child(2) {
                grid-column: span 1;
                display: none;
            }

            .anchors > :nth-child(3) {
                grid-column: span 1;
                display: none;
            }

        .anchors > :nth-child(4) {
            grid-column: span 2;
        }

            .project_page > .anchors {
                align-items:flex-start;
            }

            .project_page > .anchors > a {
                grid-column: span 2;
                display: block;
            }

            .project_page > .anchors > a > p1{
                font-weight: 200;
            }

        .gallery_container {
            padding: var(--spacing-m);

            grid-template-columns: repeat(2, 1fr);
            
        }

        .gallery_container > h2 {
            grid-column: span 2;
            width: 100%;
        }

            .gallery {
                grid-column: span 2;
                row-gap: var(--spacing-s);

                display: flex;
                flex-wrap: wrap;
                column-gap: var(--spacing-l);
            }

            .gallery > .half_width {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .gallery > div {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;

                row-gap: var(--spacing-xs);
            }

            .gallery > div > p1 {
                width: 100%;
            }
            
    }

    /* NUMBERS */

    .numbers {

    }

    /* PROJECTS */

    .projects {
        height: 100%;
        background-color: var(--brand_orange);

        padding-left: var(--spacing-l);
        padding-right: var(--spacing-l);

        padding-top: var(--spacing-l);
        padding-bottom: var(--spacing-xl);

        row-gap: var(--spacing-l);
    }

    .projects > :nth-child(1) {

    }


    .project_column {
        display: flex;
        flex-direction: column;
        flex: 1;

        height: 100%;
        width: 100%;

        grid-column: span 2;

        gap: 15px;
    }

        .card {
            width: 100%;
            height: auto;
            transition: transform 0.5s ease-in-out , box-shadow 0.3s ease-in-out;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
            overflow: clip;
            transform: rotate(0deg);

            border-radius: 12px;
            background-color: var(--brand_orange);
            box-sizing: content-box;
            stroke-dasharray: 20px, 20px;

            margin: 0px;
            padding: 0px;
        }
        
        .card:hover {
            
            transform: scale(1.02);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

            transform: rotate(2deg);
        }
    
        .project_text {
            display: flex;
            padding: var(--spacing-zero);

            flex-direction: column;
            align-items: flex-start;
            gap: var(--SPACING-XS, 5px);

            color: white;

            position: sticky;
            top: var(--spacing-m);
        }

        .project_text > :nth-child(2) {
            width: 80%;
        }

    .project_spacer {
        height: var(--spacing-l);
    }

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {

    

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-s);
    }

    .hero {
        height: 100vh;
        color: white;

        margin-left: var(--spacing-m);
        margin-right: var(--spacing-m);
    }

        .hero > :nth-child(1) {
            display: flex;
            height: fit-content;
            grid-column: span 2;
        }
    
        .project_page > .hero {

            margin-left: var(--spacing-m);
            margin-right: var(--spacing-m);
    
        }

        .project_page > .hero > div {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-xs);
            grid-column: 1/3;
        }

        .project_page > .hero > div > :nth-child(2) {
            width: 100%;
        }
    

    .bio {        
        gap: var(--spacing-s);

        margin-left: var(--spacing-m);
        margin-right: var(--spacing-m);

        padding-top: var(--spacing-s);
        padding-bottom: var(--spacing-s);
    }

        .bio > :nth-child(1) {
            grid-column: span 3;
            width: 100%;
        }

        .bio > :nth-child(2) {
            grid-column: span 3;
            width: 100%;
        }

    .bigtext {
        display: flex;
        
        height: auto;

        padding-top: var(--spacing-l);
        padding-bottom: var(--spacing-s );
        padding-left: var(--spacing-m);
        padding-right: var(--spacing-m);

    }

        .bigtext > svg {
            width: 100%;
            height: 100%;
            display: block;
        }

    .projects {

        padding-left: var(--spacing-m);
        padding-right: var(--spacing-m);

        padding-top: var(--spacing-l);
        padding-bottom: var(--spacing-xl);

        row-gap: var(--spacing-s);
    }

        .project_spacer {
            height: var(--spacing-zero);
            display: none;
        }

        .projects > :nth-child(3) {
            margin-bottom: var(--spacing-l);
        }

        .project_text > :nth-child(2) {
            width: 90%;
            margin-bottom: var(--spacing-s);
        }


}

/* ABOUT ME */

.about {

    background-color: var(--brand_orange);
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);

    row-gap: var(--spacing-xl);

}

    .about_info_container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-l);
        grid-column: 2/6;
        color: white;
    }

        .about_info_container >:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
        }

        .about_info_container >:nth-child(1) > :nth-child(1) {
            width: 100%;
        }

        .about_info_container >:nth-child(2) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            padding: var(--spacing-zero);
            align-items: flex-start;
            align-content: flex-start;
            gap: var(--spacing-m);
            flex-wrap: wrap;
        }

        .competences {
            display: flex;
            grid-column: span 1;
            padding: var(--spacing-zero);
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-xs);
        }

        .competences > :nth-child(1){
            width: 100%;
        }

        .competences > :nth-child(2){
            width: 70%;
        }

    .about > .about_title {
        display: flex;
        padding: var(--SPACING-ZERO);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--SPACING-S, 15px);
        align-self: stretch;
    }

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {

    .about {

        padding-top: var(--spacing-l);
        padding-bottom: var(--spacing-xl);
        padding-right: var(--spacing-m);
        padding-left: var(--spacing-m);
    
        row-gap: var(--spacing-l);
    }

    .about_info_container {
        gap: var(--spacing-m);
        grid-column: span 2;

    }

        .about_info_container >:nth-child(2) {

            padding: var(--spacing-zero);
            row-gap: var(--spacing-m);
            column-gap: var(--spacing-s);
        }

        .about_info_container >:nth-child(1) > :nth-child(1) {
            width: 70%;
        }

        .competences {
            display: flex;
            grid-column: span 2;
            padding: var(--spacing-zero);
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-xs);
        }

}


/* HEADER */

header {
    display: grid;
    
    height: fit-content;
    
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);

    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-shrink: 0;

    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacing-xs);

    color: white;
    
    position: none;
    top: 0px;

    z-index: 0;
}

    .project_page > header > nav > a > svg g path {
        height: auto;
        grid-column: span 1;
        mix-blend-mode: exclusion;
        fill: black;

    }

    header > nav > a > svg g path {
        height: auto;
        grid-column: span 1;
        mix-blend-mode: exclusion;
        fill: white;

    }

    .info_container {
        display: flex;
        grid-column: span 2;
        padding: var(--spacing-zeroO);
        align-items: center;
        gap: var(--spacing-m);
        flex-shrink: 0;
    }

    .info_container > a {
        width: 50%;
        height: auto;
        margin: 0px;
        padding: 0px;
        text-align: right;

        text-transform: uppercase;
        font-weight: 100;
    }

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {

    header {
        padding-top: var(--spacing-s);
        display: flex;
        
        align-self: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    header > .info_container > a:nth-child(1) {
        display: none;
    }

    header > .info_container > a:nth-child(2) {
        display: none;
    }
 
    header > img {
        height: auto;
        grid-column: span 2;
    }
}

/* FOOTER */

footer {
    display: flex;
    height: fit-content;
    position: relative;
    
    flex-direction: row;

    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    align-items: center;
    
    justify-content: space-between;

    bottom: 0;
    color: white;

    background-color: var(--brand_orange);

    border-color: white;
    border-top: solid;
    border-width: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {

    footer {
        flex-direction: column;
        row-gap: var(--spacing-s);
        padding-top: var(--spacing-s);
        padding-bottom: var(--spacing-s);
    }
}


/* TIPOGRAPHY */

h1 {
    font-family: 'Redaction 35';
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 123%; /* 108.24px */
    margin: 0px;
}

h2 {
    font-family: 'Redaction 35';
    font-size: 64px;
    font-style: normal;
    line-height: 123%; /* 78.72px */
    font-weight: normal;
    margin: 0px;
}

h3 {
    font-family: 'Redaction 35';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 123%; /* 59.04px */
    margin: 0px;
}

h4 {
    font-family: 'Redaction 35';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 123%; /* 39.36px */
    margin: 0px;
}

h5 {
    font-family: 'Neue Montreal';
    font-size: 32px;
    font-style: normal;
    font-weight: 251;
    line-height: normal;
    margin: 0px;
}

p1 {
    font-family: 'Neue Montreal';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p2 {
    font-family: 'Neue Montreal';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p3 {
    font-family: 'Neue Montreal';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 480px) {

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 22px;
    }
    
    h5 {
        font-size: 24px;
    }

    p1 {
        font-size: 18px; 
    }
    
    p2 {
        font-size: 14px;
    }
    
    p3 {
        font-size: 8px;
    }

}